body {
    padding-top: 70px; 
}

.portfolio-item {
    margin-bottom: 80px;
    width: 350px;
    height: 250px;
    margin-right: 3px;
  
    border-bottom: 1px solid black;
}

#quan{
	float: right;
}


#buy{
	width: 100%;
}

#itemsContainer{
	margin: 0 auto;
}

#product{
	height: 200px;

}

footer {
    margin: 50px 0;
}