body {
    padding-top: 70px; 

}

.portfolio-item {
    margin-bottom: 10px;
    width: 350px;
    height: 250px;
    border-bottom: 1px solid black;
}

#quan{
	float: right;
}

#name{
	float: left;
	font-weight: bolder;
}

#buy{
	width: 100%;
}

#price{
	float: right;
}

#itemsContainer, #product{
	margin: 0 auto;
	margin-top: 5px;
}

#product{
	height: 200px;
}

footer {
    margin: 50px 0;
}